.modeList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.modeButton {
  /* width: 100% !important; */
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c9a55;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  border: 1px solid #7c9a55;
}

.arrow {
  font-size: 20px;
}

.underConstruction {
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
}
