.bionic-text b {
  font-weight: 900;
}

:root {
  --page-bg: #ffffff;
  --text-color: #111111;
  --app-font: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

.dark {
  --page-bg: #1a1a1a;
  --text-color: #f2f2f2;
}
